.card{
    margin-top: 30%;
    border:1px solid white;
    width: 550px;
    padding: 30px;
    padding-left: 15px;
    position: absolute;
    top: 70%; 
    left: 60%;
  }
  .btn-block{
  width: 100%;
  height: 100%;
  background:rgb(187, 163, 230);
  color: black;
  font-weight: 900;
  font: small-caps bold 16px/2 sans-serif;
  border-radius: 500px;
  }
